### 1. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

#### Examples

filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]

filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]

filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [3]:
def filter_list(l):
    """this is the function hat takes a list of strings and integers, and filters out the list so that
        it returns a list of integers only. """
   
    l1 = []
    for i in l:
        if type(i) == int:
            l1.append(i)
    return l1

In [4]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [5]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [6]:
filter_list(["Nothing", "here"])

[]

### 2. Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

#### Examples

add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [14]:
def add_indexes(l):
    """this is the function which returns the list but with each element's index in the list added to itself. 
        This means you add 0 to the number at index 0, add 1 to the number at index 1 """
    
    l1 = []
    sum = 0
    for i in range(len(l)):
        sum = i + l[i]
        l1.append(sum)
    return l1

In [15]:
add_indexes([0,0,0,0,0])

[0, 1, 2, 3, 4]

In [16]:
add_indexes([1,2,3,4,5])

[1, 3, 5, 7, 9]

In [17]:
add_indexes([5,4,3,2,1])

[5, 5, 5, 5, 5]

### 3. Create a function that takes the height and radius of a cone as arguments and returns thevolume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

#### Examples

cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49

cone_volume(18, 0) ➞ 0

### Answer:

Volume of the cone (v) = (1/3)*pie*(r**2)h, where h is height and r is radius. pie value = 3.14159

In [36]:
def cone_volume(h,r):
    """this is the function that takes the height and radius of a cone as arguments and returns the volume of the cone 
        rounded to the nearest hundredth """
    
    v = (1/3)*(3.14159)*(r**2)*(h)
    return round(v,2)  # rounding value to nearst hundred. so presion value = 2

In [37]:
cone_volume(3,2)

12.57

In [38]:
cone_volume(15,6)

565.49

In [39]:
cone_volume(18,0)

0.0

#### 4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:

1, 3, 6, 10, 15

This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

Examples

triangle(1) ➞ 1

triangle(6) ➞ 21

triangle(215) ➞ 23220

In [12]:
def triangle(n):
    """this is the function that gives the number of dots with its corresponding triangle number of the sequence"""
    
    for i in range(0,n):
        for j in range(0,i+1):
            num_of_dots = n*(n+1)/2
    return int(num_of_dots)

In [13]:
triangle(1)

1

In [14]:
triangle(6)

21

In [15]:
triangle(215)

23220

### 5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

#### Examples

missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [60]:
def missing_num(l):
    """this is the function that takes a list of numbers between 1 and 10 (excluding one number) and returns 
        the missing number """
    
    sum = 0
    n = len(l)
    for i in range(n):
        sum = sum + l[i]
    total = (n+1)*(n+2)/2
    missing_number = total - sum
    return int(missing_number)

In [61]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [62]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [63]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7