#### 1. Create a function that takes an integer and returns a list from 1 to the given number, where:

1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).

2. If the number cannot be divided evenly by 4, simply return the number.

Examples

amplify(4) ➞ [1, 2, 3, 40]

amplify(3) ➞ [1, 2, 3]

amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25]

Notes

 The given integer will always be equal to or greater than 1.

 Include the number (see example above).

 To perform this problem with its intended purpose, try doing it with list comprehensions. If that&#39;s too difficult, just solve the challenge any way you can.

In [10]:
def amplify(n):
    """this is the function that takes an integer and returns a list from 1 to the given number, where, the number can be
        divided evenly by 4, amplify it by 10 or if the number cannot be divided evenly by 4, simply return the number."""
    
    try:
        x = [(i*10) if (i%4)==0 else i for i in range(1,n+1)]
        return x
    except Exception as e:
        print(e)

In [11]:
amplify(4)

[1, 2, 3, 40]

In [12]:
amplify(3)

[1, 2, 3]

In [13]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

#### 2. Create a function that takes a list of numbers and return the number that&#39;s unique.

Examples

unique([3, 3, 3, 7, 3, 3]) ➞ 7

unique([0, 0, 0.77, 0, 0]) ➞ 0.77

unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

In [16]:
def unique(l):
    """this is the function that takes list of numbers and return unique number"""
    
    try:
        x = l[0]
        for i in l:
            if i == x:
                pass
            else:
                return i
    except Exception as e:
         print(e)

In [17]:
unique([3,3,3,7,3])

7

In [19]:
unique([0,0,0.77,0,0])

0.77

In [20]:
unique([0,1,1,1,1,1,1,1])

1

#### 3. Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

Examples

circy = Circle(11)

circy.getArea()    (Should return 380.132711084365)

circy = Circle(4.44)

circy.getPerimeter()   (Should return 27.897342763877365)

In [35]:
class Circle:
    def __init__(self,r):
        self.a = r
        
    def getArea(self):
        pi = 3.141592653589793238
        Area = pi * (self.a**2)
        return Area
    
    def getPerimeter(self):
        pi = 3.141592653589793238
        Perimeter = 2 * pi * (self.a)
        return Perimeter

In [36]:
circy = Circle(11)
circy.getArea()

380.132711084365

In [37]:
circy = Circle(4.44)
circy.getPerimeter()

27.897342763877365

#### 4. Create a function that takes a list of strings and return a list, sorted from shortest to longest.

Examples

sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]

sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]

sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

In [67]:
def sort_by_length(l):
    """this is the function that takes list of strings and return a list, sorted from shortest to longest. """
    
    try:
        return sorted(l, key = len)
        
    except Exception as e:
        print(e)

In [68]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [69]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [70]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

#### 5. Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

Examples

is_triplet(3, 4, 5) ➞ True   (3² + 4² = 25)  (5² = 25)

is_triplet(13, 5, 12) ➞ True  ( 5² + 12² = 169)   (13² = 169)

is_triplet(1, 2, 3) ➞ False   (1² + 2² = 5)   (3² = 9)

In [81]:
def is_triplet(a,b,c):
    """this is the function that validates whether three given integers form a Pythagorean triplet. The sum of the 
       squares of the two smallest integers must equal the square of the largest number to be validated."""
    
    try:
        l = []
        l.extend((a,b,c))
        l.sort()
        if (l[0]**2 + l[1]**2 ) == l[2]**2 :
            return True
        else:
            return False
        
    except Exception as e:
        print(e)

In [82]:
is_triplet(3, 4, 5)

True

In [83]:
is_triplet(13, 5, 12)

True

In [84]:
is_triplet(1, 2, 3)

False