#### 1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [17]:
def is_symmetrical(n):
    """this is the function that akes a number as an argument and returns True or False depending on whether the number 
    is symmetrical or not. A number is symmetrical when it is the same as its reverse """
    
    try:
        if str(n) == str(n)[::-1]:
            return True
        else:
            return False
    except Exception as e:
        print(e)

In [18]:
is_symmetrical(7227)

True

In [19]:
is_symmetrical(12567)

False

In [20]:
is_symmetrical(44444444)

True

In [21]:
is_symmetrical(9939)

False

In [22]:
is_symmetrical(1112111)

True

#### 2. Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0

multiply_nums(&quot;10, -2&quot;) ➞ -20

In [8]:
def multiply_num(s):
    """this is the function which takes input as string of numbers separated by a comma and space, return the product of 
       the numbers"""
    
    try:
        mul = 1
        integer = [int(i) for i in s.split(',')]
        for j in integer:
            mul = mul * j
        return mul
    except Exception as e:
        print(e)

In [9]:
multiply_num("2, 3")

6

In [10]:
multiply_num("1,2,3,4")

24

In [11]:
multiply_num("54, 75, 453, 0")

0

In [12]:
multiply_num("10,-2")

-20

#### 3. Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes:

The function receives an integer and must return an integer.

In [49]:
def square_digits(n):
    """this is the function that squares every digit of a number."""
    
    try:
        x = [int(i) for i in str(n)]
        l1 = []
        for i in x:
            square = int(i) * int(i)
            l1.append(square)
        string = ''
        for j in l1:
            string = string + str(j)
            result = int(string)
        return result
        
    except Exception as e:
        print(e)

In [50]:
square_digits(9119)

811181

In [51]:
square_digits(2483)

416649

In [52]:
square_digits(3212)

9414

#### 4.Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [24]:
def setify(l):
    """this is the function that sorts a list and removes all duplicates items from it"""
    try:
        res = []
        l.sort()
        for i in l:
            if i not in res:
                res.append(i)
        return res
        
    except Exception as e:
        print(e)

In [25]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [26]:
setify([4, 4, 4, 4])

[4]

In [27]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [28]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

#### 5. Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

 The mean will always be an integer.

In [18]:
def mean(num):
    """this is the function that returns mean of all digits"""
    
    try:
        x = [int(i) for i in str(num)]
        l = len(x)
        sum = 0
        for i in x:
            sum = sum + i
        mean = sum / l
        return int(mean)
        
    except Exception as e:
        print(e)

In [19]:
mean(42)

3

In [20]:
mean(12345)

3

In [21]:
mean(666)

6